{% extends "myapp/base.html" %}

{% block title %} Image | Upload {% endblock title %}

{% block body %}

<div class="container  bg-secomdary">
    <div class="py-5 text-center alert alert-secondary">
        <h1 class="mb-3">Upload Image</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form }}

            <input type="submit" class="btn btn-danger" value="Uplaoad">
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for x in page_obj %}
            <div class="col-sm-3">
                <div class="form-control m-2">
                    <div class="card m-2">
                        <img src="{{x.photo.url}}" alt="" class="card-img-top" height="200px">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted m-2">{{ x.date }}</small>
                    </div>
                    <a href="{% url 'updatedata' x.id %}" class="btn btn-outline-warning m-2">Update</a>
                    <form action="{% url 'deletedata' x.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <input type="submit" value="Delete" class="btn btn-outline-danger float-end m-2">
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>

<!-- start pagination from here -->

<div class="container text-center mt-5">
    <div class="d-grid">
        <span class="text-center">
            {% if page_obj.has_previous %}
            <a class="btn btn-outline-info" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
    
            <span class="m-3">{{ page_obj.number }}</span>
    
            {% if page_obj.has_next %}
            <a class="btn btn-outline-info" href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
          </span>
    </div>
 </div>

<!-- End pagination here -->

</div>

{% endblock body %}